<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.review">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/review_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/review_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.EditSortsActivity"></activity>
        <activity
            android:name=".Activity.MoveDataActivity"
            android:label="@string/title_activity_move_data"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 文件挑选窗口 -->
        <activity android:name=".Activity.FilePickerActivity" /> <!-- 库选窗口 -->
        <activity
            android:name=".Activity.LibraryActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".Activity.PagerActivity" /> <!-- 设置窗口 -->
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.SortActivity" /> <!-- 关于窗口 -->
        <activity android:name=".Activity.AboutActivity" /> <!-- 编辑窗口 -->
        <activity
            android:name=".Activity.EditActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" /> <!-- 列表窗口 -->
        <activity
            android:name=".Activity.ListActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" /> <!-- 主窗口 -->
        <activity
            android:name=".Activity.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 服务 -->
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- 系统消息接收者 -->
        <service
            android:name=".ReviewService"
            android:enabled="true" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>